<section class="banner">
	<div class="banner-layer">
		<div class="container">
			<div class="row w3pvt_banner_info">
				<div class="col-md-8 w3layouts_banner_margin">
					<h3 class="editContent">Hola, Mi Nombre es</h3>
					<h2 class="editContent">Brayan Sarmiento</h2>
					<h4>Soy, Ingeniero de sistemas</h4>
					<p>con más de 2 años de experiencia en desarrollo de aplicaciones
					web usando los lenguajes de programación PHP y JavaScripts, utilizando siempre en mis aplicaciones la arquitectura MVC</p>
					<a href="#contact"> Contacto </a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- about -->


<section class="about py-5" id="about">
	<div id="top"></div>
	<div class="container py-3">
		<h3 class="heading">Sobre mi</h3>
		<div class="row about-grids">
			<div class="col-lg-4">
				<h4 class="">Desarrollador Web</h4>
				<p class="my-4">Me caracterizo por ser una persona seria, creativa, sin temor a asumir retos, me gusta
						trabajar en grupo, aportar conocimientos y sobre todo genera nuevas ideas con el fin
						de ayudar a la organización.</p>
				<a href="http://portafoliobs.000webhostapp.com/hojadevida/Hojadevida.pdf"> Descargar CV <span class="fa ml-2 fa-download"></span> </a>	

			</div> 
			<div class="col-lg-4 col-md-6 my-lg-0 my-5">
				<img src="../assets/images/about.jpg" alt="" class="img-fluid" />
			</div>
			<div class="col-lg-4 bar-grids">
				<div class="wthree_skills">
					<h6 class="mb-2">Desarrollo Web<span> 95% </span></h6>
					<p>Experiencia en diseño de aplicaciones web con el lenguaje de programación PHP </p>
					<div class="my-4">
						<h6 class="mb-2">Creacion de paginas web<span> 95% </span></h6>
						<p>Tengo conocimiento en crear paginas web y tiendas virtuales por medio de wordpress y angular </p>
					</div>
					<h6 class="mb-2">Diseño de paginas web<span>90% </span></h6>
					
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <section class="services py-5" id="services">
	<div class="container py-3">
		<h3 class="heading">Servicios</h3>
		<div class="row service-grids">
			<div class="col-lg-4 col-md-6 w3layouts w3-icon-grid1">
				<h3><span class="fa mr-2 fa-cogs" aria-hidden="true"></span> UI/UX Diseño</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam. placerat placerat dolor. Vestibulum</p>
			</div>
			<div class="col-lg-4 col-md-6 w3layouts mt-md-0 mt-sm-5 mt-4 w3-icon-grid1">
				<h3><span class="fa mr-2 fa-mobile" aria-hidden="true"></span>Mobile Apps</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam. placerat placerat dolor. Vestibulum</p>
			</div>
			<div class="col-lg-4 col-md-6 w3layouts mt-lg-0 mt-sm-5 mt-4 w3-icon-grid1">
				<h3><span class="fa mr-2 fa-laptop" aria-hidden="true"></span>Web Developer</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam. placerat placerat dolor. Vestibulum</p>
			</div>
			<div class="col-lg-4 col-md-6 w3layouts mt-sm-5 mt-4 w3-icon-grid1">
				<h3><span class="fa mr-2 fa-camera" aria-hidden="true"></span> Photoshop</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam. placerat placerat dolor. Vestibulum</p>
			</div>
			<div class="col-lg-4 col-md-6 w3layouts mt-sm-5 mt-4 w3-icon-grid1">
				<h3><span class="fa mr-2 fa-headphones" aria-hidden="true"></span>Software</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam. placerat placerat dolor. Vestibulum</p>
			</div>
			<div class="col-lg-4 col-md-6 w3layouts mt-sm-5 mt-4 w3-icon-grid1">
				<h3><span class="fa mr-2 fa-soundcloud" aria-hidden="true"></span>Graphic Design</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam. placerat placerat dolor. Vestibulum</p>
			</div>
		</div>
	</div>
</section> -->

<!-- experience -->
<section class="experience py-5" id="experience">
	<div class="container py-3">
		<h3 class="heading">Experiencia</h3>
		<div class="row exp-grids">
			<div class="col-lg-6 col-md-6">
				<img src="../assets/images/exp1.jpg" alt=" " class="img-fluid" />
				<div class="exp wthree">	
					<h4>Desarrollador Web(Marktech) <span>2016 - 2019</span></h4>
					<div class="clearfix"></div>
					<p>Mis funciones son la creacion de aplicaciones web, paginas web, tiendas virtuales, administracion del servidor,
						Pocicionamiento web y seo,  Modificacion y creación de plantillas de wordpress, entre otros.
					</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 mt-md-0 mt-4">
				<img src="../assets/images/exp2.jpg" alt=" " class="img-fluid" />
				<div class="exp wthree">	
					<h4>Analista de sistemas y desarrollador web(Universidad simon bolivar) <span>2016</span></h4>
					<div class="clearfix"></div>
					<p>Entre mis funciones se destacaban brindar soporte tecnico a los equipos del laboratorio, administracion y seguridad del 
						servidor, Helpdesk, Redes e infraestructura y la creacion de una aplicación web del area de internacionalización de la unniversidad.
					</p>
				</div>
			</div>
			
		</div>
	</div>
</section>
<!-- //experience -->
 
<section class="gallery1 py-5" id="projects">

	<div class="container py-3">
		<h3 class="heading">Proyectos</h3>
		<ul>
			<a href="#" class="close"></a>
			<li>
				<a  href="#item02">
					<img src="../assets/images/quicksimpeq.jpg" alt="">
				</a>
			</li>

			<li>
				<a class="image" href="#item03">
					<img src="../assets/images/bioserviciopq.jpg" alt="">
				</a>
			</li>

			<li>
				<a class="image" href="#item04">
					<img src="../assets/images/bioserwebpq.jpg" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item05">
					<img src="../assets/images/ospinocanasgr.jpg" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item06">
					<img src="../assets/images/sushito2pq.jpg" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item07">
					<img src="../assets/images/tradingdtvpq.jpg" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item08">
					<img src="../assets/images/carolinaarpq.jpg" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item09">
					<img src="../assets/images/cheveronnipq.jpg" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item10">
					<img src="../assets/images/calumastorepq.jpg" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item11">
					<img src="../assets/images/motecnologypq.jpg" alt="">
				</a>
			</li>
			<!-- <li>
				<a class="image" href="#item12">
					<img src="../assets/images/mstiendapq.jpg" alt="">
				</a>
			</li> -->
			<li>
				<a class="image" href="#item13">
					<img src="../assets/images/appuniversidad.jpg" alt="">
				</a>
			</li>
		</ul>
	</div>




	<div id="item02" class="port">
	
		<div class="row">
			<div class="description">
				<h1>Aplicación web(MoTecnology)</h1>
				<p>Esta es una aplicación web de la cual su función principal es llevar el control de las simcards vendidas por la empresa.<br> 
					entre sus características se encuentran:<br>
						- Administración de usuarios(editar,eliminar,actualizar,mostrar y activar) en la plataforma web.<br>
						- Diferentes vistas y funciones de los usuarios dependiendo del role.<br>
						- Creación del inventario de las simcards (CRUD).<br>
						- creación de los clientes (CRUD)<br>
						- Administración y creación de las ventas(CRUD). <br>
						- Exportar excel, poder imprimir y exportar a pdf.<br>
						- Reportes personalizados(Graficas, Clientes que mas compraro, etc)<br>
						- Cargar las simcards correspondientes a cada usuario.<br>
						Entre otras mas características.<br>
						El lenguaje que se utilizo para el backend fue PHP Con la arquitectura MVC. y para el frontend javascript, jquery.<br>
						El enlace de la aplicacion web es http://simcloud.com.co/app/.</p>
			</div>

				<img src="../assets/images/quicksim.jpg" alt="">
			</div>
		</div>

		<div id="item03" class="port">
	
		<div class="row">
			<div class="description">
				<h1>Aplicación web(Ing Bioservicios)</h1>
				<p>Esta es una aplicacion web de la cual su funcion principal es llevar el control de todos los mantenimientos realizados por la empresa
					 en sus hospitales. <br>
					 Entre sus caracteristcas se encuentran: <br>
						- Administracion de usuarios(editar,eliminar,actualizar,mostrar y activar) en la plataforma web.<br>
						- Diferentes vistas y funciones de los usuarios dependiendo del role.<br>
						- Creación de equipos (CRUD).<br>
						- creación de los clientes (CRUD)<br>
						- Administración y creacion de los cronogramas. <br>
						- Exportar excel, poder imprimir y exportar a pdf de todas las tablas.<br>
						- Agregar cronogramas dependiendo el año.<br>
						- Filtros de las tablas en tiempo real(Por fecha y Nombre)<br>
						- Reportes personalizados(Graficas, Hospitales que mas se les realizo mantenimiento, etc)
						Entre otras mas características.<br>
						El lenguaje que se utilizo para el backend fue PHP Con la arquitectura MVC. y para el frontend javascript, jquery.<br>
						El enlace de la aplicación web es http://ingbioservicios.com.co/app/.</p>
			</div>
			<img src="../assets/images/bioserviciogr.jpg" alt="">
		</div> 

	</div>

	<div id="item04" class="port">
	
		<div class="row">
			<div class="description">
				<h1>Tienda Virtual(Ing Bioservicios)</h1>
				<p>El enlace de la tienda virtual es http://ingbioservicios.com.co/.</p>
			</div>
			<img src="../assets/images/bioserwebgr.jpg" alt="">
		</div> 

	</div>
	<div id="item05" class="port">
	
		<div class="row">
			<div class="description">
				<h1>Ospino Cañas</h1>
				<p>El enlace de la pagina web http://ospinocanas.com</p>
			</div>
			<img src="../assets/images/ospinocanasgr.jpg" alt="">
		</div> 

	</div>
	<div id="item06" class="port">
	
		<div class="row">
			<div class="description">
				<h1>Sushi to go</h1>
				<p>El enlace de la pagina web http://sushi2go.com.co</p>
			</div>
			<img src="../assets/images/sushito2gr.jpg" alt="">
		</div> 

	</div>
	<div id="item07" class="port">
	
		<div class="row">
			<div class="description">
				<h1>Trading dtv</h1>
				<p>El enlace de la pagina web http://tradinggroup.com.co</p>
			</div>
			<img src="../assets/images/tradingdtvgr.jpg" alt="">
		</div> 

	</div>

	<div id="item08" class="port">
	
		<div class="row">
			<div class="description">
				<h1>Carolina Arcieri</h1>
				<p>El enlace de la pagina web http://carolinaarcieri.com</p>
			</div>
			<img src="../assets/images/carolinaargr.jpg" alt="">
		</div> 

	</div>
	<div id="item09" class="port">
	
		<div class="row">
			<div class="description">
				<h1>Cheveronni</h1>
				<p>El enlace de la pagina web http://cheveronni.com</p>
			</div>
			<img src="../assets/images/cheveronnigr.jpg" alt="">
		</div> 

	</div>
	<div id="item10" class="port">
	
		<div class="row">
			<div class="description">
				<h1>Item 02</h1>
				<p>El enlace de la pagina web http://calummastore.com</p>
			</div>
			<img src="../assets/images/calumastoregr.jpg" alt="">
		</div> 

	</div>
	<div id="item11" class="port">
	
		<div class="row">
			<div class="description">
				<h1>Mo Tecnology</h1>
				<p>El enlace de la pagina web http://motechnology.com.co</p>
			</div>
			<img src="../assets/images/motecnologygr.jpg" alt="">
		</div> 

	</div>
	<!-- <div id="item12" class="port">
	
		<div class="row">
			<div class="description">
				<h1>Ms Tienda</h1>
				<p>Esta es una aplicacion web de la cual su funcion principal es crear un sistema POST Venta de la tienda. Sus caracterizticas principales se encuentran: 
						- Administracion de usuarios(editar,eliminar,actualizar,mostrar y activar) en la plataforma web.<br>
						- Diferentes vistas y funciones de los usuarios dependiendo del role.<br>
						- Creación de equipos (CRUD).<br>
						- creación de los clientes (CRUD)<br>
						- Exportar excel, poder imprimir y exportar a pdf de todas las tablas.<br>
						- Crear ventas de forma dinamica.
						- Filtros de las tablas en tiempo real(Por fecha y Nombre)<br>
						- Reportes personalizados(Clientes que mas compraron, usuarios que mas vendieron, cantidad total de ventas)
						Entre otras mas características.<br>
						El lenguaje que se utilizo para el backend fue PHP Con la arquitectura MVC. y para el frontend javascript, jquery.<br>
						El enlace de la aplicación web es http://ingbioservicios.com.co/app/.</p>
			</div>
			<img src="../assets/images/mstiendagr.jpg" alt="">
		</div> 

	</div> -->
	<div id="item13" class="port">
	
		<div class="row">
			<div class="description">
				<h1>Aplicacion Web Area Internacionalizacion Universidad Simón Bolivar</h1>
				<p>La funcion principal de esta aplicación web era llevar el registro de todos los datos manejados desde el area.<br>
					 Su principales caracteristicas eran:<br>
					- CRUD de usuarios.<br>
					- CRUD de estudiantes.<br>
					- Manejar roles de diferentes vistas.<br>
					- Exportar a PDF y Excel los datos.<br>
					- Creacion de informes.<br>
					El lenguaje de programación utilizado para la creación de la plataforma es PHP con Arquitectura MVC.<br>
					- En enlace se encuentra en la red lan de la universidad a la cual no se tiene acesso, pero ellos me dieron un certificado
					del trabajo realizado.
				</p>
			</div>
			<img src="../assets/images/appuniversidad.jpg" alt="">
		</div> 

	</div>





</section>

<div class="alrededor">

	<div class="gallery py-5" id="projects">
		<div class="container py-3">
			<h3 class="heading">Proyectos</h3>
			<div class="row gallery_grid-more project-grids w3ls">
				<div class="col-lg-3 col-md-4 col-6 w3layoutsits_w3layouts_gallery_grid1">
					<a href="#popup1">
						<img src="../assets/images/quicksimpeq.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6 w3layoutsits_w3layouts_gallery_grid1">
					<a href="#popup2">
						<img src="../assets/images/bioserviciopq.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6 w3layoutsits_w3layouts_gallery_grid1 mt-md-0 mt-4">
					<a href="#popup3">
						<img src="../assets/images/bioserwebpq.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6 w3layoutsits_w3layouts_gallery_grid1 mt-lg-0 mt-4">
					<a href="#popup4">
						<img src="../assets/images/ospinocanasgr.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6 w3layoutsits_w3layouts_gallery_grid1 mt-4">
					<a href="#popup5">
						<img src="../assets/images/sushito2pq.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6 w3layoutsits_w3layouts_gallery_grid1 mt-4">
					<a href="#popup6">
						<img src="../assets/images/tradingdtvpq.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6 w3layoutsits_w3layouts_gallery_grid1 mt-4">
					<a href="#popup7">
						<img src="../assets/images/carolinaarpq.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6 w3layoutsits_w3layouts_gallery_grid1 mt-4">
					<a href="#popup8">
						<img src="../assets/images/appuniversidad.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
			</div>
		</div>
	</div>
	</div>


<section class="contact py-5" id="contact">
	<div class="container py-3">
		<h3 class="heading">Contacto</h3>
		<div class="row contact-grids">
			<div class="col-lg-5 contact-left">
				<h4 class="mb-4">Dirección</h4>
				<div class="row">
					<div class="col-1 pr-0 icon">
						<span class="fa fa-map-marker" aria-hidden="true"></span>
					</div>
					<div class="col-11">
						<p>Carrera 12b #71-35</p>
						<p> Soledad - Atlantico</p>
					</div>
					<div class="col-1 pr-0 icon my-2">
						<span class="fa fa-phone" aria-hidden="true"></span>
					</div>
					<div class="col-11 my-2">
						<p> +57 3013900015</p>
					</div>
					<div class="col-1 pr-0 icon">
						<span class="fa fa-envelope-open" aria-hidden="true"></span>
					</div>
					<div class="col-11">
						<p><a href="mailto:bsarmientoparada@gmail.com"> bsarmientoparada@gmail.com</a></p>
					</div>
					<div class="map col-sm-11 mt-4">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125335.26163353321!2d-74.88805819317982!3d10.983972466051204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d44d12ae605%3A0x2633844581b917b2!2sBarranquilla%2C%20Atl%C3%A1ntico!5e0!3m2!1ses-419!2sco!4v1570485059317!5m2!1ses-419!2sco" width="600" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
					</div>
				</div>
			</div>
			<div class="col-lg-7 mt-lg-0 mt-5 contact-right">

					
				<h4 class="mb-4"></h4>
				<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
					<label><span class="fa mr-2 fa-user" aria-hidden="true"></span> Nombre</label>
					<input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" placeholder="Name">
					<div class="clearfix"></div>
					<label><span class="fa mr-2 fa-envelope-open" aria-hidden="true"></span>Email</label>
					<input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" placeholder="Email">
					<div class="clearfix"></div>
					<label><span class="fa mr-2 fa-phone" aria-hidden="true"></span>Telefono</label>
					<input type="text" name="telefono" #telefono="ngModel" [(ngModel)]="user.telefono" placeholder="Telefono">
					<div class="clearfix"></div>
					<label><span class="fa mr-2 fa-edit" aria-hidden="true"></span>Mensaje</label>
					<textarea name="mensaje" #mensaje="ngModel" [(ngModel)]="user.mensaje" required=""></textarea>
					<button type="submit" class="btn" [disabled]="!registerForm.form.valid">Enviar</button>
				</form>
			</div>
		</div>
	</div>
</section>

<footer class="py-5">
	<div class="container">
		<div class="w3layoutsinfo-grids">
			<div class="w3layouts-grid-left w3layouts-grid-right text-center">
				<div class="social mb-4">
					
				</div>
			</div>
		</div>
		<div class="copyright text-center">
			<p>© 2019. Todos los derechos reservados</p>
			<a href="#home" class="move-top scroll"><span class="fa fa-angle-up" aria-hidden="true"></span></a>
		</div>
	</div>
</footer>

<div id="popup1" class="overlay">
		<div class="popup">
			<img src="../assets/images/quicksimpeq.jpg" alt="Popup Image" class="img-fluid" />
			<h5>Aplicación web(MoTecnology)</h5>
			<p class="mt-4 editContent">
				Esta es una aplicación web de la cual su función principal es llevar el control de las simcards vendidas por la empresa.<br> 
				entre sus características se encuentran:<br>
					- Administración de usuarios(editar,eliminar,actualizar,mostrar y activar) en la plataforma web.<br>
					- Diferentes vistas y funciones de los usuarios dependiendo del role.<br>
					- Creación del inventario de las simcards (CRUD).<br>
					- creación de los clientes (CRUD)<br>
					- Administración y creación de las ventas(CRUD). <br>
					- Exportar excel, poder imprimir y exportar a pdf.<br>
					- Reportes personalizados(Graficas, Clientes que mas compraro, etc)<br>
					- Cargar las simcards correspondientes a cada usuario.<br>
					Entre otras mas características.<br>
					El lenguaje que se utilizo para el backend fue PHP Con la arquitectura MVC. y para el frontend javascript, jquery.<br>
					El enlace de la aplicacion web es http://simcloud.com.co/app/.</p>
		<a class="close1" href="#">&times;</a>
		</div>
	</div>
	
		<div id="popup2" class="overlay">
			<div class="popup">
				<img src="../assets/images/bioserviciopq.jpg" alt="Popup Image" class="img-fluid" />
				<h5>Aplicación web(Ing Bioservicios)</h5>
				<p class="mt-4">Esta es una aplicacion web de la cual su funcion principal es llevar el control de todos los mantenimientos realizados por la empresa
						en sus hospitales. <br>
						Entre sus caracteristcas se encuentran: <br>
						   - Administracion de usuarios(editar,eliminar,actualizar,mostrar y activar) en la plataforma web.<br>
						   - Diferentes vistas y funciones de los usuarios dependiendo del role.<br>
						   - Creación de equipos (CRUD).<br>
						   - creación de los clientes (CRUD)<br>
						   - Administración y creacion de los cronogramas. <br>
						   - Exportar excel, poder imprimir y exportar a pdf de todas las tablas.<br>
						   - Agregar cronogramas dependiendo el año.<br>
						   - Filtros de las tablas en tiempo real(Por fecha y Nombre)<br>
						   - Reportes personalizados(Graficas, Hospitales que mas se les realizo mantenimiento, etc)
						   Entre otras mas características.<br>
						   El lenguaje que se utilizo para el backend fue PHP Con la arquitectura MVC. y para el frontend javascript, jquery.<br>
						   El enlace de la aplicación web es http://ingbioservicios.com.co/app/.</p>
			<a class="close1" href="#projects">&times;</a>
			</div>
		</div>
		<div id="popup3" class="overlay">
			<div class="popup">
				<h5>Tienda Virtual(Ing Bioservicios)</h5>
				<img src="../assets/images/bioserwebgr.jpg" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">El enlace de la tienda virtual es http://ingbioservicios.com.co/.</p>
			<a class="close1" href="#projects">&times;</a>
			</div>
		</div>
		<div id="popup4" class="overlay">
			<div class="popup">
					<h5>Ospino Cañas</h5>
				<img src="../assets/images/ospinocanasgr.jpg" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">El enlace de la pagina web http://ospinocanas.com</p>
			<a class="close1" href="#projects">&times;</a>
			</div>
		</div>
		<div id="popup5" class="overlay">
			<div class="popup">
					<h5>Sushi to go</h5>
				<img src="../assets/images/sushito2gr.jpg" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">El enlace de la pagina web http://sushi2go.com.co</p>
			<a class="close1" href="#projects">&times;</a>
			</div>
		</div>
		<div id="popup6" class="overlay">
			<div class="popup">
					<h5>Trading dtv</h5>
				<img src="../assets/images/tradingdtvgr.jpg" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">El enlace de la pagina web http://tradinggroup.com.co</p>
			<a class="close1" href="#projects">&times;</a>
			</div>
		</div>
		<div id="popup7" class="overlay">
			<div class="popup">
					<h5>Carolina Arcieri</h5>
				<img src="../assets/images/carolinaargr.jpg" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">El enlace de la pagina web http://carolinaarcieri.com</p>
			<a class="close1" href="#projects">&times;</a>
			</div>
		</div>
		<div id="popup8" class="overlay">
			<div class="popup">
					<h5>Aplicacion Web Area Internacionalizacion Universidad Simón Bolivar</h5>
				<img src="../assets/images/appuniversidad.jpg" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">La funcion principal de esta aplicación web era llevar el registro de todos los datos manejados desde el area.<br>
					Su principales caracteristicas eran:<br>
				   - CRUD de usuarios.<br>
				   - CRUD de estudiantes.<br>
				   - Manejar roles de diferentes vistas.<br>
				   - Exportar a PDF y Excel los datos.<br>
				   - Creacion de informes.<br>
				   El lenguaje de programación utilizado para la creación de la plataforma es PHP con Arquitectura MVC.<br>
				   - En enlace se encuentra en la red lan de la universidad a la cual no se tiene acesso, pero ellos me dieron un certificado
				   del trabajo realizado.</p>
			<a class="close1" href="#projects">&times;</a>
			</div>
		</div>
		<div id="popup9" class="overlay">
			<div class="popup">
					<h5>Aplicacion Web Area Internacionalizacion Universidad Simón Bolivar</h5>
				<img src="../assets/images/appuniversidad.jpg" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">La funcion principal de esta aplicación web era llevar el registro de todos los datos manejados desde el area.<br>
					Su principales caracteristicas eran:<br>
				   - CRUD de usuarios.<br>
				   - CRUD de estudiantes.<br>
				   - Manejar roles de diferentes vistas.<br>
				   - Exportar a PDF y Excel los datos.<br>
				   - Creacion de informes.<br>
				   El lenguaje de programación utilizado para la creación de la plataforma es PHP con Arquitectura MVC.<br>
				   - En enlace se encuentra en la red lan de la universidad a la cual no se tiene acesso, pero ellos me dieron un certificado
				   del trabajo realizado.</p>
			<a class="close1" href="#projects">&times;</a>
			</div>
		</div>