<header>
<div class="container" id="home">
    <!-- nav -->
    <nav class="py-4">
        <div id="logo">
      <h1> <a href="#index.html"><span class="fa fa-square" aria-hidden="true"></span> POTAFOLIO</a></h1>
    </div>

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
            <ul class="menu mt-2">
                <li class="mr-lg-4 mr-3 active"><a href="#">Home</a></li>
                <li class="mr-lg-4 mr-3"><a href="#about">Sobre mi</a></li>
              
                <li class="mr-lg-4 mr-3"><a href="#experience">Experiencia</a></li>
                <li class="mr-lg-4 mr-3"><a href="#projects">Portafolio</a>
                </li>
                <li><a href="#contact">Contacto</a></li>
            </ul>
        </nav>
    <!-- //nav -->
  </div>
</header>
<router-outlet></router-outlet>   
 